<% if (calculator==false){ %>
    <div></div>
<% }else{ %>
    <section id="results" class="results section-white-bg">
        <div class="container">
    
          <div class="section-title">
            <h2>Resultados</h2>
          </div>

          <li><strong>Escopo 1: </strong> São as emissões diretas de gases de efeito estufa, provenientes de fontes de emissão de equipamentos/bens de propriedade ou controlados pela organização. </li><br>
          <li><strong>Escopo 2: </strong>Contabiliza as emissões de gases do efeito estufa provenientes da geração de eletricidade comprada e consumida pela empresa. A eletricidade comprada é definida como a eletricidade que é adquirida ou trazida de alguma forma para o limite organizacional da empresa. As emissões do Escopo 2 ocorrem fisicamente na instalação onde a eletricidade é gerada</li>
          <br>
    
        <div class="row justify-content-md-center">
            <div class="col-sm mb-4" data-aos="zoom-in" data-aos-delay="100" >
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Escopo 1 - Emissões diretas</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>CO2 fóssil (t): </strong><%=sum_co2 %></p>
                        <p><strong>CH4 (t): </strong><%=sum_ch4 %></p>
                        <p><strong>N2O (t): </strong><%=sum_n2o %></p>
                        <p><strong>CO2 Biogênico (t): </strong><%=sum_biogenic_co2 %></p>
                        <p><strong>CO2 Equivalente: </strong>
                            <%=(sum_co2*1 + sum_ch4*27.9 + sum_n2o*273 + sum_biogenic_co2*0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                        </p>
                        <script>
                            var sum_co2 = "<%= sum_co2 %>"   
                            var sum_ch4 = "<%= sum_ch4 %>"   
                            var sum_n2o = "<%= sum_n2o %>"   
                            var sum_biogenic_co2 = "<%= sum_biogenic_co2 %>"
                            var total_co2 = sum_co2*1 + sum_ch4*27.9 + sum_n2o*273 + sum_biogenic_co2*0
                         </script>
                    </div>
                </div>
            </div>
            
            <div class="col-sm mb-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Escopo 1 - Combustão Móvel</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>CO2 fóssil (t): </strong><%=sum_co2_two %></p>
                        <p><strong>CH4 (t): </strong><%=sum_ch4_two %></p>
                        <p><strong>N2O (t): </strong><%=sum_n2o_two %></p>
                        <p><strong>CO2 Biogênico (t): </strong><%=sum_biogenic_co2_two %></p>
                        <p><strong>CO2 Equivalente: </strong>
                            <%=(sum_co2_two*1 + sum_ch4_two*27.9 + sum_n2o_two*273 + sum_biogenic_co2_two*0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                        </p>
                        <script>
                            var sum_co2_two = "<%= sum_co2_two %>"
                            var sum_ch4_two = "<%= sum_ch4_two %>"
                            var sum_n2o_two = "<%= sum_n2o_two %>"
                            var sum_biogenic_co2_two = "<%= sum_biogenic_co2_two %>"  
                            var total_co2_two = sum_co2_two*1 + sum_ch4_two*27.9 + sum_n2o_two*273 + sum_biogenic_co2_two*0
                         </script>
                    </div>
                </div>
            </div>

            <div class="col-sm mb-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Escopo 1 - Emissões Fugitivas</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p><strong>CO2 fóssil (t): </strong><%=sum_co2_three/1000 %></p>
                                <p><strong>CH4 (t): </strong><%=sum_ch4_three/1000 %></p>
                                <p><strong>N2O (t): </strong><%=sum_n2o_three/1000 %></p>
                                <p><strong>CO2 Bio (t): </strong><%=sum_biogenic_co2_three/1000 %></p>
                                <br>

                            </div>
                            <div class="col">
                                <p><strong>CO2 Eq: </strong>
                                    <%=((sum_co2_three*1 + sum_ch4_three*27.9 + sum_n2o_three*273 + sum_biogenic_co2_three*0 + sum_hfc32_three*771 + sum_hfc125_three*3740 + sum_cfc12_three*11200)/1000)%>
                                </p>
                                <p><strong>HFC-32 (t): </strong><%=sum_hfc32_three/1000 %></p>
                                <p><strong>HFC-125 (t): </strong><%=sum_hfc125_three/1000 %></p>
                                <p><strong>CFC-12 (t): </strong><%=sum_cfc12_three/1000 %></p>
                            </div>
                        </div>
                        <script>
                            var sum_co2_three = "<%= sum_co2_three %>"
                            var sum_ch4_three = "<%= sum_ch4_three %>"
                            var sum_n2o_three = "<%= sum_n2o_three %>"
                            var sum_biogenic_co2_three = "<%= sum_biogenic_co2_three %>"  
                            var sum_hfc32_three = "<%= sum_biogenic_co2_three %>"  
                            var sum_hfc125_three = "<%= sum_biogenic_co2_three %>"  
                            var sum_cfc12_three = "<%= sum_biogenic_co2_three %>"  
                            var total_co2_three = sum_co2_three*1 + sum_ch4_three*27.9 + sum_n2o_three*273 + sum_biogenic_co2_three*0 + sum_hfc32_three*771 + sum_hfc125_three*3740 + sum_cfc12_three*11200 
                         </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm mb-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Escopo 2 - Emissões Indiretas</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>CO2 fóssil (t): </strong><%=sum_co2_four %></p>
                        <p><strong>CH4 (t): </strong><%=sum_ch4_four %></p>
                        <p><strong>N2O (t): </strong><%=sum_n2o_four %></p>
                        <p><strong>CO2 Biogênico (t): </strong><%=sum_biogenic_co2_four %></p>
                        <p><strong>CO2 Equivalente: </strong>
                            <%=(sum_co2_four*1 + sum_ch4_four*27.9 + sum_n2o_four*273 + sum_biogenic_co2_four*0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                        </p>
                        <script>
                            var sum_co2_four = "<%= sum_co2_four %>"
                            var sum_ch4_four = "<%= sum_ch4_four %>"
                            var sum_n2o_four = "<%= sum_n2o_four %>"
                            var sum_biogenic_co2_four = "<%= sum_biogenic_co2_four %>"  
                            var total_co2_four = sum_co2_four*1 + sum_ch4_four*27.9 + sum_n2o_four*273 + sum_biogenic_co2_four*0
                         </script>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="card">
                    <div class="card-header text-center">
                        <h4><strong>Emissões Totais de Gases do Efeito Estufa</strong></h4>
                    </div>
                    <div class="card-body text-center">
                        <h3><%=(sum_co2*1 + sum_ch4*27.9 + sum_n2o*273 + sum_biogenic_co2*0 + sum_co2_two*1 + sum_ch4_two*27.9 + sum_n2o_two*273 + sum_biogenic_co2_two*0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> (tCO2e)</h3>

                        <script>
                            var scope_one = 100*((total_co2 + total_co2_two + total_co2_three)/(total_co2 + total_co2_two + total_co2_three + total_co2_four))
                            var scope_two = 100*(total_co2_four/(total_co2 + total_co2_two + total_co2_three + total_co2_four))
                        </script>
                    </div>
    
                    <div class="row justify-content-md-center">
                        <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:200px;">
                            <canvas id="emissionOne"></canvas>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
      </section>
<% } %>