<% if (calculator==false){ %>
    <div></div>
<% }else{ %>
    <section id="results" class="results section-white-bg">
        <div class="container">
    
          <div class="section-title">
            <h2>Resultados</h2>
          </div>
    
        <div class="row justify-content-md-center">
            <div class="col-6 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Escopo 1</h3>
                    </div>
                    <div class="card-body">
                        <p>Emissões totais de CO2e (t): <%=sum_co2 + sum_ch4 + sum_n2o + sum_biogenic_co2%></p>
                        <script>
                            var sum_co2 = "<%= sum_co2 %>"   
                            var sum_ch4 = "<%= sum_ch4 %>"   
                            var sum_n2o = "<%= sum_n2o %>"   
                            var sum_biogenic_co2 = "<%= sum_biogenic_co2 %>"          
                         </script>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                            <canvas id="emissionOne"></canvas>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h4>Info:</h4>
                        <p>O escopo 1 está relacionado com ..... Esses dados representam....</p>
                    </div>
                </div>
            </div>
            
            <div class="col-6 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Escopo 2</h3>
                    </div>
                    <div class="card-body">
                        <p>Emissões totais de CO2e (t): <%=sum_co2_two + sum_ch4_two + sum_n2o_two + sum_biogenic_co2_two%></p>
                        <script>
                            var sum_co2_two = "<%= sum_co2_two %>"   
                            var sum_ch4_two = "<%= sum_ch4_two %>"   
                            var sum_n2o_two = "<%= sum_n2o_two %>"   
                            var sum_biogenic_co2_two = "<%= sum_biogenic_co2_two %>"          
                         </script>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                            <canvas id="emissionTwo"></canvas>
                        </div>
                    </div>
                    </div>
                    <div class="card-footer">
                        <h4>Info:</h4>
                        <p>O escopo 2 está relacionado com ..... Esses dados representam....</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row justify-content-md-center">
            <div class="col-12 mb-4" data-aos="zoom-in" data-aos-delay="100" style="max-width:400px;">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Emissões Totais de Gases do Efeito Estufa (tCO2e)</h3>
                    </div>
                    <div class="card-body text-center">
                        <h3>5</h3>
                    </div>
                    <div class="card-footer">
                        <h4>Info:</h4>
                        <p>As Emissões Totais de Gases  ..... Esses dados representam....</p>
                    </div>
                </div>
            </div>
        </div>
      </section>
<% } %>