<!--Header-->
<%- include("partials/header.ejs") %>
<!--Navbar-->
<%- include("partials/navbar.ejs") %>

<div id="blog" class="container mb-5">
    <div class="row">
        <div class="col-md-12 mt-5">
            <article>
                <header>
                    <h1 class="fw-bolder mb-1 text-start mb-4"><%= articles.title %></h1>
                    <div class="text-muted fst-italic mb-2 text-start">Publicado em <%= day %>/<%= month %>/<%= year %>  às <%= hour %>h<%= minute %> por <%= author %></div>
                    <% categories.forEach(category => { %>
                        <% if (articles.categoryId == category.id){ %>
                            <div class="text-start"><a class="badge " href="#!" style="color: white; background-color: #0c2232;"><%= category.title %></a></div>
                        <% } %>
                    <% }) %>
                </header>
            </article> 
        </div>
        <div class="col-sm-9 mt-5">
            <article>
                <section style="padding-top: 0px;"><%- articles.body %></section>
            </article> 
            <div class="text-start mb-5">
                <div class="text-muted fst-italic mb-3">Compartilhe este conteúdo</div>
                <div class="social">
                    <a href="" target="_blank"><i class="bi bi-facebook fs-4 me-2"></i></a>
                    <a href="" target="_blank"><i class="bi bi-twitter fs-4 me-2"></i></a>
                    <a href="" target="_blank"><i class="bi bi-linkedin fs-4 me-2"></i></a>
                    <a href="" target="_blank"><i class="bi bi-whatsapp fs-4"></i></a>
                </div>
            </div>
        </div>
        <%- include("side.ejs", {categories, articles}) %>
    </div>  
</div>
<hr>

<!--Footer-->
<%- include("sections/07_footer.ejs") %>
<!--Footer -->
<%- include("partials/footer.ejs") %>