<!--Header-->
<%- include("partials/header.ejs") %>
<!--Navbar-->
<%- include("partials/navbar.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8 mt-5">
                    <article>
                        <header>
                            <h1 class="fw-bolder mb-1 text-center mb-4"><%= article.title %></h1>
                            <div class="text-muted fst-italic mb-2 text-end">Publicado em <%= day %>/<%= month %>/<%= year %>  às <%= hour %>h<%= minute %> por <%= author %></div>
                            <% category.forEach(category => { %>
                                <% if (article.categoryId == category.id){ %>
                                    <div class="text-end"><a class="badge " href="#!" style="color: white; background-color: #0c2232;"><%= category.title %></a></div>
                                <% } %>
                            <% }) %>
                        </header>
                        <hr> 
                    </article> 
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <article>
                <section class="mb-2" style="padding-top: 0px;"><%- article.body %></section>
            </article> 
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <div class="card bg-light mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Light card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <div class="card bg-light mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Light card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <div class="card bg-light mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Light card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <div class="card bg-light mb-3">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Light card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

<!--Footer-->
<%- include("sections/07_footer.ejs") %>
<!--Footer -->
<%- include("partials/footer.ejs") %>