<!--Header-->
<%- include("partials/header.ejs") %>
<!--Navbar-->
<%- include("partials/navbar.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <article>
                <header>
                    <h1 class="fw-bolder mb-1 text-center mb-4">Acompanhe nosso blog</h1>
                </header>
                <hr> 
            </article>
        </div>
        <% articles.forEach(articles => {%>
            <div class="col-lg-4 mt-2">
                <div class="text-center">
                    <div class="card bg-light mb-3">
                        <div class="card-header"><%= articles.title%></div>
                        <div class="card-body">
                            <a class="btn btn-send" href="/article/<%= articles.id %>">Visualizar</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>  
</div>

<!--Footer-->
<%- include("sections/07_footer.ejs") %>
<!--Footer -->
<%- include("partials/footer.ejs") %>