<!--Header-->
<%- include("partials/header.ejs") %>
<!--Navbar-->
<%- include("partials/navbar.ejs") %>

<div id="blog" class="container mb-5">
    <div class="row">
        <div class="col-md-12 mt-5">
            <article>
                <header>
                    <h1 class="fw-bolder mb-1 text-center mb-4">Acompanhe nosso blog</h1>
                </header>
                <hr> 
            </article>
        </div>
        <div class="col-md-9">
            <% articles.forEach(articles => {%>
                <% const img = articles.body.match(/<img.*?src="(.*?)"/g) %>
                <% const imgBody = []  %>
    
                <% if (img != null){ %> 
    
                    <% const imgBody = img.toString().split(' ').slice(-1) %>
                    <% const imgBodySliced = imgBody.toString().split('"') %>
                   
                    <div class="mt-2 mb-3 text-start">
                        <a href="/article/<%= articles.slug %>">
                            <h2><%= articles.title %></h2>
                        </a>
                        <div class="text-muted fst-italic">Publicado por <%= articles.author %></div>
                    </div>
                    <div class="container-img bg-light mb-3">
                        <a href="/article/<%= articles.slug %>">
                            <img class="card-img-top image" src="<%= imgBodySliced[1] %>"style="max-height: 350px; object-fit: cover;"/>
                            <div class="middle">
                                <div class="text"><%= articles.title %></div>
                            </div>
                        </a>
                    </div>
                    <div class="text-start">
                        <div class="text-muted fst-italic ">Compartilhe este conteúdo</div>
                        <div class="social mt-2">
                            <a href="https://www.facebook.com/sharer.php?u=https://www.tacetvere.com/article/<%=articles.slug%>" target="_blank">
                                <i class="bi bi-facebook fs-4 me-2"></i>
                            </a>
                            <a href="https://twitter.com/share?url=https://www.tacetvere.com/article/<%=articles.slug%>&text=<%=articles.title%>&via=tacetvere" target="_blank">
                                <i class="bi bi-twitter fs-4 me-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://tacetvere.com/article/<%=articles.slug%>&title=<%=articles.title%>" target="_blank">
                                <i class="bi bi-linkedin fs-4 me-2"></i>
                            </a>
                            <a href="https://api.whatsapp.com/send?text=<%=articles.slug%> https://www.tacetvere.com/article/<%=articles.slug%>" target="_blank">
                                <i class="bi bi-whatsapp fs-4"></i>
                            </a>
                        </div>
                        <div class="mt-3 mb-5">
                            <a class="btn btn-send" href="/article/<%= articles.slug %>">Leia mais</a>
                        </div>
                    </div>
    
                <% }else{ %>
    
                    <div class="mt-2 mb-3 text-start">
                        <a href="/article/<%= articles.slug %>">
                            <h2><%= articles.title %></h2>
                        </a>
                        <div class="text-muted fst-italic">Publicado por <%= articles.author %></div>
                    </div>
                    <div class="container-img bg-light mb-3">
                        <a href="/article/<%= articles.slug %>">
                            <img class="card-img-top image" src="assets/img/slide/slide-1.jpg" style="max-height: 350px; object-fit: cover;"/>
                            <div class="middle">
                                <div class="text"><%= articles.title %></div>
                            </div>
                        </a>
                    </div>
                    <div class="text-start">
                        <div class="text-muted fst-italic ">Compartilhe este conteúdo</div>
                        <div class="social mt-2">
                            <a href="https://www.facebook.com/sharer.php?u=https://www.tacetvere.com/article/<%=articles.slug%>" target="_blank">
                                <i class="bi bi-facebook fs-4 me-2"></i>
                            </a>
                            <a href="https://twitter.com/share?url=https://www.tacetvere.com/article/<%=articles.slug%>&text=<%=articles.title%>&via=tacetvere" target="_blank">
                                <i class="bi bi-twitter fs-4 me-2"></i>
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://tacetvere.com/article/<%=articles.slug%>&title=<%=articles.title%>" target="_blank">
                                <i class="bi bi-linkedin fs-4 me-2"></i>
                            </a>
                            <a href="https://api.whatsapp.com/send?text=<%=articles.slug%> https://www.tacetvere.com/article/<%=articles.slug%>" target="_blank">
                                <i class="bi bi-whatsapp fs-4"></i>
                            </a>
                        </div>
                        <div class="mt-3 mb-5">
                            <a class="btn btn-send" href="/article/<%= articles.slug %>">Leia mais</a>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </div>
    <%- include("side.ejs", {categories, articles}) %>
</div>
<hr>

<!--Footer-->
<%- include("sections/07_footer.ejs") %>
<!--Footer -->
<%- include("partials/footer.ejs") %>