<!--Header-->
<%- include("../../partials/header.ejs") %>
<!--Navbar-->
<%- include ("../../partials/navbar.ejs") %>

<main id="pageform">
    <section class="form-user">
        <div class="container d-flex justify-content-center">
            <div class="card text-dark bg-light text-center" style="width: 300px;">
                <div class="card-header mt-3">
                    <p class="fs-4">Editar Usuário</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="/users/update">
                        <input class="form-control" name="name" type="text" placeholder="Nome Sobrenome" value="<%= user.name %>" required>
                        <br>
                        <input class="form-control" name="email" type="email" placeholder="email@exemplo.com" value="<%= user.email %>" required>
                        <br>
                        <input class="form-control" name="picture" type="text" placeholder="link da imagem" value="<%= user.picture %>" required>
                        <br>
                        <input class="form-control" name="position" type="text" placeholder="Cargo que ocupa" value="<%= user.position %>" required>
                        <br>
                        <textarea class="form-control" name="about" type="text" required><%= user.about %></textarea>
                        <br>
                        <input class="form-control" name="linkedin" type="text" placeholder="https://linkedin.com/in/perfil" value="<%= user.linkedin %>" required>
                        <br>
                        <input class="form-control" name="password" type="password" placeholder="Digite uma nova senha" required>
                        <br>
                        <input class="form-control" name="passwordCheck" type="password" placeholder="Digite a senha novamente" required>
                        <br>
                        <input type="hidden" name="id" value="<%=user.id %>"> 
                        <button type="submit" class="btn btn-send ">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<!--Footer-->
<%- include("../../sections/07_footer.ejs") %>
<!--Footer -->
<%- include("../../partials/footer.ejs") %>