<!--Header-->
<%- include("../partials/header.ejs") %>
<!--Navbar-->
<%- include("../partials/navbar.ejs") %>

<section id="services" class="services section-white-bg">
    <div class="container">

      <div class="section-title">
        <h2>Soluções</h2>
      </div>

      <div class="row justify-content-md-center">
        <div class="col" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-teal">
            <div class="icon">
              <svg width="100" height="100" viewBox="0 0 64 64" aria-labelledby="title" aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path data-name="layer1"
                d="M56 43a12 12 0 0 0-12-12h-1.2a16 16 0 0 0-30.7 4H12a10 10 0 1 0 0 20h32.1A12 12 0 0 0 56 43z"
                fill="#cdf0f0"></path>
                <path data-name="opacity" d="M12 38a17 17 0 0 1 .3-2.8L12 35a10 10 0 1 0 0 20h17a17 17 0 0 1-17-17z"
                fill="#000064" opacity=".1"></path>
                <path data-name="opacity" d="M56 43a12 12 0 0 0-12-12h-1.2a16 16 0 0 0-12.1-9.8h-4.3a15.9 15.9 0 0 0-9.7 4.6 21.9 21.9 0 0 1 21.7 6.7l-1.1.6h.7a15 15 0 0 1 14.6 18.2A12 12 0 0 0 56 43zM41.8 31.2z"
                fill="#fff" opacity=".5"></path>
                <path data-name="layer1" d="M62 27a10 10 0 0 0-10-10 13 13 0 0 0-25 4h1a16 16 0 0 1 14.8 10.1H44a12 12 0 0 1 10.2 5.8A10 10 0 0 0 62 27z"
                fill="#cdf0f0"></path>
                <path data-name="opacity" d="M62 27a10 10 0 0 0-10-10 13 13 0 0 0-25 4h1a16 16 0 0 1 14.8 10.1H44a12 12 0 0 1 10.2 5.8A10 10 0 0 0 62 27z"
                fill="#000064" opacity=".1"></path>
                <path data-name="stroke" d="M54.2 36.7A10 10 0 0 0 52 17a13 13 0 0 0-25 4"
                fill="none" stroke="#2e4369" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"></path>
                <path data-name="stroke" d="M56 43a12 12 0 0 0-12-12h-1.2a16 16 0 0 0-30.7 4H12a10 10 0 1 0 0 20h32.1A12 12 0 0 0 56 43z"
                fill="none" stroke="#2e4369" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2"></path>
              </svg>
              <h5 style="padding-top:40px;padding-right: 10px;z-index: 1;color:white">CO2e</h5>
            </div>
            <br>
            <h5><a href="">Gestão do Carbono</a></h5>
            <br>
            <button id="reset1" type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="#calculator1" title="Identifique e contabilize as emissões de gases do efeito estufa da sua organização">
              Mensuração
            </button>
            <%- include("../pages/calculator.ejs") %>
          </div>
        </div>

        <div class="col" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <svg version="1.1" id="Layer_1"  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	              viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path d="M261.36,437.387C202.48,437.28,154.8,389.6,154.693,330.72c0-5.867-4.8-10.667-10.667-10.667
                        c-5.867,0-10.667,4.8-10.667,10.667c0.107,70.613,57.387,127.893,128,128c5.867,0,10.667-4.8,10.667-10.667
                        C272.027,442.187,267.227,437.387,261.36,437.387z"/>
                      <path d="M263.387,3.04c-4.16-4.053-10.773-4.053-14.827,0C241.733,9.76,80.027,169.333,80.027,332.213
                        c0,99.2,78.933,179.84,176,179.84s176-80.64,176-179.84C432.027,168.373,270.32,9.76,263.387,3.04z M256.027,490.72
                        c-85.333,0-154.667-71.147-154.667-158.507c0-134.613,122.88-272.747,154.667-306.24
                        c31.787,33.387,154.667,170.88,154.667,306.24C410.693,419.573,341.253,490.72,256.027,490.72z"/>
                    </g>
                  </g>
                </g>
              </svg>
              </div>
              <br>
              <h5><a href="">Gestão das Águas</a></h5>
              <br>
              <button id="" type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="" title="" disabled>
                Mensuração
              </button>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 195.485 195.485" style="enable-background:new 0 0 195.485 195.485;"
                xml:space="preserve">
                <g>
                  <g>
                    <path d="M125.793,32.705c9.147,0,16.568-7.323,16.568-16.354C142.362,7.323,134.941,0,125.793,0
                      c-9.153,0-16.571,7.322-16.571,16.351C109.222,25.382,116.64,32.705,125.793,32.705z"/>
                    <path d="M149.765,34.964h-47.818c-4.085,0-7.426,3.323-7.426,7.408l0.06,21.919c0.003,1.097-0.432,2.149-1.206,2.925
                      L73.323,87.258c-2.307,2.307-2.312,6.049-0.005,8.356c1.154,1.153,2.664,1.729,4.176,1.729s3.018-0.577,4.172-1.729l24.379-24.386
                      v115.393c0,4.896,3.953,8.863,8.848,8.863c4.896,0,8.848-3.97,8.848-8.863v-66.956h4.273v66.956c0,4.896,3.953,8.863,8.848,8.863
                      c4.896,0,8.847-3.97,8.847-8.863V103.9c1.013,1.771,2.917,2.964,5.104,2.964c3.267,0,6.34-2.646,6.34-5.906V42.38
                      C157.151,38.295,153.849,34.964,149.765,34.964z"/>
                    <path d="M88.864,125.456H46.367c-2.234,0-4.387,0.946-5.906,2.592c-1.514,1.642-2.28,3.866-2.102,6.095l3.385,41.963
                      c0.756,9.357,8.701,16.682,18.089,16.682h15.564c9.388,0,17.333-7.324,18.089-16.682l3.385-41.963
                      c0.179-2.227-0.588-4.449-2.104-6.095C93.249,126.403,91.097,125.456,88.864,125.456z M90.948,133.668l-3.385,41.967
                      c-0.507,6.295-5.852,11.223-12.166,11.223H59.832c-6.314,0-11.658-4.926-12.166-11.221l-3.385-41.961
                      c-0.047-0.58,0.153-1.154,0.546-1.58c0.396-0.429,0.957-0.664,1.539-0.664h42.497c0.581,0,1.143,0.234,1.536,0.662
                      C90.794,132.52,90.994,133.089,90.948,133.668z"/>
                    <path d="M62.686,116.788c1.204,1.204,3.157,1.204,4.361,0l3.273-3.274c1.204-1.205,1.204-3.156,0-4.359l-2.729-2.729
                      c-1.204-1.204-3.156-1.204-4.36,0l-3.274,3.274c-0.578,0.578-0.902,1.361-0.902,2.181c0,0.817,0.324,1.603,0.902,2.181
                      L62.686,116.788z"/>
                    <path d="M74.411,165.785l-3.847-0.299c-1.698-0.131-3.181,1.139-3.313,2.836l-0.357,4.615c-0.132,1.699,1.137,3.182,2.835,3.312
                      l3.848,0.3c0.814,0.063,1.622-0.2,2.243-0.731c0.622-0.532,1.006-1.289,1.069-2.104l0.357-4.616
                      c0.063-0.814-0.2-1.621-0.732-2.242C75.984,166.232,75.227,165.848,74.411,165.785z"/>
                    <path d="M78.722,139.15c-0.769-1.52-2.623-2.127-4.143-1.357l-6.868,3.475c-0.729,0.369-1.282,1.014-1.537,1.791
                      c-0.255,0.775-0.191,1.623,0.179,2.353l3.027,5.983c0.769,1.52,2.624,2.127,4.143,1.358l6.867-3.475
                      c0.73-0.369,1.283-1.013,1.538-1.79c0.255-0.776,0.19-1.623-0.178-2.354L78.722,139.15z"/>
                    <path d="M60.573,158.307c-1.204-1.203-3.155-1.203-4.359,0l-0.814,0.813c-1.204,1.204-1.204,3.155,0,4.36l0.444,0.444
                      c1.203,1.204,3.156,1.204,4.36,0l0.814-0.813c1.204-1.204,1.204-3.156,0-4.36L60.573,158.307z"/>
                  </g>
                </g>
              </svg>
            </div>
            <br>
            <h5><a href="">Gestão de Resíduos</a></h5>
            <br>
            <button id="" type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="" title="" disabled>
              Mensuração
            </button>
          </div>
          </div>

          <div class="col" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 439.814 439.814" style="enable-background:new 0 0 439.814 439.814;"
                xml:space="preserve">
                  <g>
                    <g>
                      <path d="M166.864,91.238H272.95c16.821,0,30.457-13.636,30.457-30.457c0-16.821-13.636-30.457-30.457-30.457h-5.395
                        C265.158,13.19,250.451,0,232.657,0h-25.5c-17.795,0-32.501,13.189-34.898,30.324h-5.395c-16.821,0-30.457,13.636-30.457,30.457
                        C136.407,77.602,150.043,91.238,166.864,91.238z"/>
                      <path d="M313.407,20.814h-18.821c11.413,6.203,19.879,17.154,22.75,30.182c22.979,1.998,41.071,21.33,41.071,44.818v269
                        c0,24.812-20.188,45-45,45h-187c-24.813,0-45-20.188-45-45v-269c0-23.488,18.092-42.82,41.071-44.818
                        c2.87-13.028,11.336-23.979,22.75-30.182h-18.821c-41.355,0-75,33.645-75,75v269c0,41.354,33.645,75,75,75h187
                        c41.355,0,75-33.646,75-75v-269C388.407,54.459,354.763,20.814,313.407,20.814z"/>
                      <path d="M312.907,143.314h-93c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h93c8.284,0,15-6.716,15-15
                        C327.907,150.03,321.191,143.314,312.907,143.314z"/>
                      <path d="M312.907,223.314h-93c-8.284,0-15,6.716-15,15c0,8.283,6.716,15,15,15h93c8.284,0,15-6.717,15-15
                        C327.907,230.03,321.191,223.314,312.907,223.314z"/>
                      <path d="M312.907,303.314h-93c-8.284,0-15,6.716-15,15c0,8.283,6.716,15,15,15h93c8.284,0,15-6.717,15-15
                        C327.907,310.03,321.191,303.314,312.907,303.314z"/>
                      <path d="M197.407,158.314c0-24.854-20.147-45-45.001-45c-24.853,0-45,20.146-45,45c0,17.423,9.909,32.522,24.392,40
                        c-14.483,7.477-24.392,22.576-24.392,40c0,17.423,9.909,32.521,24.392,40c-14.483,7.477-24.392,22.576-24.392,40
                        c0,24.853,20.147,45,45,45c24.854,0,45.001-20.147,45.001-45c0-17.424-9.909-32.523-24.393-40
                        c14.484-7.479,24.393-22.577,24.393-40c0-17.424-9.909-32.523-24.393-40C187.499,190.836,197.407,175.737,197.407,158.314z
                          M180.139,298.631c3.307,3.308,3.307,8.67,0,11.979l-27.39,27.39c-1.654,1.653-3.82,2.479-5.989,2.479s-4.335-0.826-5.989-2.479
                        l-16.096-16.095c-3.307-3.307-3.307-8.671,0-11.979c3.31-3.309,8.672-3.309,11.979,0l10.105,10.104l21.399-21.399
                        C171.467,295.322,176.829,295.322,180.139,298.631z M180.139,218.63c3.307,3.308,3.307,8.67,0,11.979l-27.39,27.39
                        c-1.654,1.653-3.82,2.479-5.989,2.479s-4.335-0.826-5.989-2.479l-16.096-16.095c-3.307-3.307-3.307-8.671,0-11.979
                        c3.31-3.309,8.672-3.309,11.979,0l10.105,10.104l21.399-21.4C171.467,215.322,176.829,215.322,180.139,218.63z M180.139,150.608
                        l-27.39,27.39c-1.654,1.653-3.82,2.48-5.989,2.48s-4.335-0.827-5.989-2.48l-16.096-16.095c-3.307-3.307-3.307-8.671,0-11.979
                        c3.31-3.308,8.672-3.308,11.979,0l10.105,10.105l21.399-21.4c3.307-3.308,8.67-3.308,11.979,0
                        C183.446,141.938,183.446,147.301,180.139,150.608z"/>
                    </g>
                  </g>
                </svg>
              </div>
              <br>
              <h5><a href="">Licenciamento Ambiental</a></h5>
              <br>
              <button id="" type="button" class="btn btn-send " data-bs-toggle="modal" data-bs-target="" title="" disabled>
                Mensuração
              </button>
            </div>
          </div>
        </div>
    </div>
  </section>
<!--Results-->
<%- include("../sections/results.ejs") %>
<!--Footer-->
<%- include("../sections/07_footer.ejs") %>
<!--Footer -->
<%- include("../partials/footer.ejs") %>