<!--Header-->
<%- include("../partials/header.ejs") %>
<!--Navbar-->
<%- include("../partials/navbar.ejs") %>

<% var img = articles.body.match(/<img.*?src="(.*?)"/g) %>
<% var imgBody = []  %>
<% var imgBodySliced = []  %>

<% if (img != null){ %> 
    
    <% imgBody = img.toString().split(' ').slice(-1) %>
    <% imgBodySliced = imgBody.toString().split('"') %>

<% }else{ %>

    <% imgBodySliced = ['', 'assets/img/slide/slide-1.jpg'] %>

<% } %>

<meta property='og:title' content='<%= articles.title %>'/>
<meta property='og:image' content='<%= imgBodySliced[1] %>'/>
<meta property='og:description' content='<%= articles.title %>'/>
<meta property='og:url' content='https://www.tacetvere.com/article/<%=articles.slug%>' />

<div id="blog" class="container mb-5">
    <div class="row">
        <div class="col-md-12 mt-5"  style="padding-top: 50px">
            <article>
                <header>
                    <h1 class="fw-bolder mb-1 text-start mb-4"><%= articles.title %></h1>
                    <div class="text-muted fst-italic mb-2 text-start">Publicado em <%= day %>/<%= month %>/<%= year %>  às <%= hour %>h<%= minute %> por <%= author %></div>
                    <% categories.forEach(category => { %>
                        <% if (articles.categoryId == category.id){ %>
                            <div class="text-start"><a class="badge " href="#!" style="color: white; background-color: #0c2232;"><%= category.title %></a></div>
                        <% } %>
                    <% }) %>
                </header>
            </article>
        </div>
        <div class="col-sm-9">
            <article>
                <section style="padding-top: 0px;"><%- articles.body %></section>
            </article> 
            <div class="row mb-5">
                <div class="text-muted fst-italic mb-3">Compartilhe este conteúdo</div>
                <div class="col text-start social">
                    <a href="https://www.facebook.com/sharer.php?u=https://www.tacetvere.com/article/<%=articles.slug%>" target="_blank">
                        <i class="bi bi-facebook fs-4 me-2"></i>
                    </a>
                    <a href="https://twitter.com/share?url=https://www.tacetvere.com/article/<%=articles.slug%>&text=<%=articles.title%>&via=tacetvere" target="_blank">
                        <i class="bi bi-twitter fs-4 me-2"></i>
                    </a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.tacetvere.com/article/<%=articles.slug%>" target="_blank">
                        <i class="bi bi-linkedin fs-4 me-2"></i>
                    </a>
                    <a href="https://api.whatsapp.com/send?text=<%=articles.slug%> https://www.tacetvere.com/article/<%=articles.slug%>" target="_blank">
                        <i class="bi bi-whatsapp fs-4"></i>
                    </a>
                </div>
                <div class="col text-end">
                    <button onclick="history.back(-1)" class="btn btn-send">voltar</button>
                </div>
            </div>
        </div>
        <%- include("side.ejs", {categories, articles}) %>
    </div>  
</div>
<hr>

<!--Footer-->
<%- include("../sections/07_footer.ejs") %>
<!--Footer -->
<%- include("../partials/footer.ejs") %>