<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Greener - Beyond Green Tokens</title>

  <link href="/assets/img/greener/favicon.png" rel="icon">


  <!-- Template Main CSS File -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/carbonManagement.css" rel="stylesheet">

</head>

<body>
  <div>
    <img class="logo" src="assets/img/greener/Logo_greener.png">

    <div>
      <h5 class="converse-conosco">
        <img class="converse-conosco-logo"src="assets/img/greener/contact.svg">
        Converse Conosco
      </h5>
    </div>

    <p class="converse-conosco-info">Lorem ipsum dolor sit amet, consectetur.</p>
    <h5 class="converse-conosco-contato">contato@tacetvere.com</h5>

    <div>
      <div>
        <h5 class="WhatsApp">
          <img class="WhatsApp-logo" src="assets/img/greener/whatsapp.svg">
          Whatsapp
        </h5>
      </div>
      <p class="WhatsApp-info">Lorem ipsum dolor sit amet, consectetur.</p>
      <h5 class="WhatsApp-contato">+55 19 97808-3223</h5>
    </div>
    <div>
      <div >
        <img class="tacet-vere-logo" src="assets/img/greener/selo.png">
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="pages">
        <%- include("../../calculator/carbonManagement/01_agreement.ejs") %> 
        <%- include("../../calculator/carbonManagement/02_pageTwo.ejs") %>
        <%- include("../../calculator/carbonManagement/03_pageThree.ejs") %>
        <%- include("../../calculator/carbonManagement/04_pageFour.ejs") %>
        <%- include("../../calculator/carbonManagement/05_pageFive.ejs") %>
        <%- include("../../calculator/carbonManagement/051_pageFiveOne.ejs") %>
        <%- include("../../calculator/carbonManagement/052_pageFiveTwo.ejs") %>
        <%- include("../../calculator/carbonManagement/053_pageFiveThree.ejs") %>
        <%- include("../../calculator/carbonManagement/submitOther.ejs") %>
      </div>
    </div>
  </div>
</body>

 <!-- Vendor JS Files -->
 <script src="/assets/js/greener.js"></script>

 </html>